.jstable-table {
  font-family: Proxima Nova, Helvetica Neue, Helvetica, Arial, sans-serif;
  display: inline-block;
}

.jstable-table-row {
  white-space: nowrap;
}

.jstable-separator {
  width: 5px;
  margin: 0px 0px -15px -5px;
}

.jstable-separator:hover {
  cursor: col-resize;
}

.jstable-row-content {
  display:inline-block;
}

.jstable-data-content {
  border-bottom: 1px dotted #dcdcdc;
  border-right: 1px solid #dcdcdc;
  padding: 5px 5px 5px 5px;
}

.jstable-header-row .jstable-data-content {
  font-weight: bold;
  background-color: #F8F8F8;
  cursor:pointer;
}

.jstable-data {
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: default;
}

.jstable-sort-icon-up {
  background:url(svg/arrow-up.svg);
}

.jstable-sort-icon-down {
  background: url(svg/arrow-down.svg);
}


.jstable-sort-icon-up,
.jstable-sort-icon-down,
.jstable-sort-icon-none {
  width: 12px;
  height: 7px;
}
